{% extends "layout.html" %}
{% block body %}

    <!-- banner part start-->
    <section class="banner_part">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5 col-xl-5">
                    <div class="banner_text">
                        <div class="banner_text_iner">
                            <h5>We are here for your care</h5>
                            <h1>Best Care &
                                Better Doctor</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing
                                elit sed do eiusmod tempor incididunt ut labore et dolore
                                magna aliqua. Quis ipsum suspendisse ultrices gravida.Risus cmodo viverra </p>
                            <a href="#" class="btn_2">Make an appointment</a>

                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="banner_img">
                        <img src="{{ url_for('static', filename='img/banner_img.png') }}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- banner part start-->

    <script>
        let d_list = {{ html_data['pre_set']['d_list']|safe }};
        function add_d_list(obj) {
            let data_list = '<datalist id="d_list">';
            for(let i=0; i<d_list.length;i++) {
                data_list += ('<option value="' + d_list[i] + '">');
            }
            data_list += '</datalist>';
            let output = '';
            let times = Number(obj.value);
            if(times>10){
                times = 10;
                obj.value = 10;
            }
            if(times<1){
                times = 1;
                obj.value = 1;
            }
            for(let i=1;i<=times;i++){
                let new_id = 'dis_'+String(i);
                output += (
                    '<input class="form-control" type="text" required placeholder="Select One" name="' +
                    new_id +
                    '" id="' +
                    new_id +
                    '" list="d_list"/>' +
                    data_list
                );
            }
            document.getElementById("disease_box").innerHTML = output;
        }
        function add_existing_data() {
            let data_list = '<datalist id="d_list">';
            for(let i=0; i<d_list.length;i++) {
                data_list += ('<option value="' + d_list[i] + '">');
            }
            data_list += '</datalist>';
            let output = '';
            let times = Number({{ '"{}"'.format(html_data['current_query']['no_of_dis'])|safe }});
            for(let i=1;i<=times;i++){
                let new_id = 'dis_'+String(i);
                output += (
                    '<input class="form-control" type="text" required placeholder="Select One" name="' +
                    new_id +
                    '" id="' +
                    new_id +
                    '" list="d_list"/>' +
                    data_list
                );
            }
            document.getElementById("disease_box").innerHTML = output;
            let fetched_name = {{ html_data['current_query']['d_list']|safe }};
            for(let i=0;i<fetched_name.length;i++){
                let new_id = 'dis_'+String(i+1);
                document.getElementById(new_id).value = fetched_name[i];
            }
            document.getElementById("p_name").value = {{ '"{}"'.format(html_data['current_query']['p_name'])|safe }};
            document.getElementById("no_of_dis").value = {{ '"{}"'.format(html_data['current_query']['no_of_dis'])|safe }};
            document.getElementById("gender").value = {{ '"{}"'.format(html_data['current_query']['gender'])|safe }};
            document.getElementById("age").value = {{ '"{}"'.format(html_data['current_query']['age'])|safe }};
        }
    </script>
    <!--::Symptoms input::-->
    <section class="regervation_part section_padding">
        <div class="container">
            <div class="row align-items-center regervation_content">
                <div class="col-lg-7">
                    <div class="regervation_part_iner">
                        <form action="{{ 'http://{}:{}/home'.format(html_data['my_ip'], html_data['my_port']) }}" method="post">
                            <h2>Enter Your Symptoms</h2>
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <input name="p_name" id="p_name" type="text" class="form-control" placeholder="Name" required minlength="5">
                                </div>

                                <div class="form-group col-md-12">
                                    <input name="no_of_dis" onchange="add_d_list(this);" id="no_of_dis" type="number" class="form-control" placeholder="No. of Symptoms" required />
                                </div>

                                <label for="disease_box" style="color: white">Select Diseases</label>
                                <div class="form-group col-md-12" id="disease_box" style="border: solid white 2px; padding: 12px">

                                </div>

                                <div class="form-group col-md-6">
                                    <select class="form-control" name="gender" id="gender" required>
                                        <option value="male" selected>Male</option>
                                        <option value="female">Female</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-6">
                                    <input type="number" min="1" max="110" class="form-control" placeholder="Age" name="age" id="age" required>
                                </div>

                            </div>
                            <div class="button-group-area mt-40">
                                <button type="submit" class="genric-btn primary e-large">Predict Disease</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-5 col-md-6">
                    <div class="reservation_img">
                        <img src="{{ url_for('static', filename='img/reservation.png') }}" alt="" class="reservation_img_iner">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--::Symptoms end here::-->


    <div class="whole-wrap">
        <div class="container box_1170">
            <br>
            <h4 id="message_tag" style="color: red" class="mb-30">{{ html_data['message'] }}</h4>
            {% if html_data['result'] %}
                <script>location.replace("#message_tag");add_existing_data();</script>
                <div class="section-top-border">
				<h3 class="mb-30">Your Result</h3>
				<div class="progress-table-wrap">
					<div class="progress-table">
						<div class="table-head">
							<div class="serial">#</div>
							<div class="country">Countries</div>
							<div class="visit">Visits</div>
							<div class="percentage">Percentages</div>
						</div>
						<div class="table-row">
							<div class="serial">01</div>
							<div class="country"> <img src="{{ url_for('static', filename='img/elements/f1.jpg') }}" alt="flag">Canada</div>
							<div class="visit">645032</div>
							<div class="percentage">
								<div class="progress">
									<div class="progress-bar color-1" role="progressbar" style="width: 80%"
										aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
								</div>
							</div>
						</div>
						<div class="table-row">
							<div class="serial">02</div>
							<div class="country"> <img src="{{ url_for('static', filename='img/elements/f2.jpg') }}" alt="flag">Canada</div>
							<div class="visit">645032</div>
							<div class="percentage">
								<div class="progress">
									<div class="progress-bar color-2" role="progressbar" style="width: 30%"
										aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
								</div>
							</div>
						</div>
						<div class="table-row">
							<div class="serial">03</div>
							<div class="country"> <img src="{{ url_for('static', filename='img/elements/f3.jpg') }}" alt="flag">Canada</div>
							<div class="visit">645032</div>
							<div class="percentage">
								<div class="progress">
									<div class="progress-bar color-3" role="progressbar" style="width: 55%"
										aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
								</div>
							</div>
						</div>
						<div class="table-row">
							<div class="serial">04</div>
							<div class="country"> <img src="{{ url_for('static', filename='img/elements/f4.jpg') }}" alt="flag">Canada</div>
							<div class="visit">645032</div>
							<div class="percentage">
								<div class="progress">
									<div class="progress-bar color-4" role="progressbar" style="width: 60%"
										aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
								</div>
							</div>
						</div>
						<div class="table-row">
							<div class="serial">05</div>
							<div class="country"> <img src="{{ url_for('static', filename='img/elements/f5.jpg') }}" alt="flag">Canada</div>
							<div class="visit">645032</div>
							<div class="percentage">
								<div class="progress">
									<div class="progress-bar color-5" role="progressbar" style="width: 40%"
										aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
								</div>
							</div>
						</div>
						<div class="table-row">
							<div class="serial">06</div>
							<div class="country"> <img src="{{ url_for('static', filename='img/elements/f6.jpg') }}" alt="flag">Canada</div>
							<div class="visit">645032</div>
							<div class="percentage">
								<div class="progress">
									<div class="progress-bar color-6" role="progressbar" style="width: 70%"
										aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
								</div>
							</div>
						</div>
						<div class="table-row">
							<div class="serial">07</div>
							<div class="country"> <img src="{{ url_for('static', filename='img/elements/f7.jpg') }}" alt="flag">Canada</div>
							<div class="visit">645032</div>
							<div class="percentage">
								<div class="progress">
									<div class="progress-bar color-7" role="progressbar" style="width: 30%"
										aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
								</div>
							</div>
						</div>
						<div class="table-row">
							<div class="serial">08</div>
							<div class="country"> <img src="{{ url_for('static', filename='img/elements/f8.jpg') }}" alt="flag">Canada</div>
							<div class="visit">645032</div>
							<div class="percentage">
								<div class="progress">
									<div class="progress-bar color-8" role="progressbar" style="width: 60%"
										aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
            {% endif %}
		</div>
	</div>

{% endblock %}